<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inventory App</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="form-container">
        <h1>Edit Movie</h1>
        <form class="add-edit-form" method="POST" action="edit">
            <div class="form-item">
                <label for="movieTitle">Title</label>
                <input name="movieTitle" id="movieTitle" type="text" required maxlength="100" value="<%= movie.title%>"/>
            </div>
            <div class="form-item">
                <label for="description">Description</label>
                <textarea name="description" id="description" type="text" required maxlength="255"><%= movie.description%></textarea>
            </div>
            <div class="form-item">
                <label for="director">Director</label>
                <input name="director" id="director" type="text" required maxlength="100" value="<%= movie.director%>"/>
            </div>
            <div class="form-item">
                <label for="releaseDate">Release Date</label>
                <input name="releaseDate" id="releaseDate" type="date" required value="<%= new Date(movie.release_date).toLocaleDateString('en-ca')%>"/>
            </div>
            <div class="form-item">
                <label for="price">Price</label>
                <input name="price" id="price" type="number" step="0.01" required value="<%= movie.price%>"/>
            </div>
            <div class="form-item">
                <label for="imageUrl">Image URL</label>
                <input name="imageUrl" id="imageUrl" type="text" maxlength="255" value="<%= movie.image_url%>"/>
            </div>
            <div class="form-item">
                <label for="genreId">Genre</label>
                <select name="genreId" id="genreId">
                    <% genres.map((genre) => { %>
                        <option value="<%-genre.id %>" <%= genre.id === movie.genre_id ? 'selected' : '' %>>
                          <%- genre.name %>
                        </option>
                      <%})%>
                </select>
            </div>
            <button>Update Movie</button>
        </form>
    </div>
    <%- include('partials/errors.ejs') %>
</body>
</html>